<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <!-- handler servlet -->
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>HandlerServlet</servlet-name>
    <servlet-class>cn.edu.nju.sj12.servlets.HandlerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HandlerServlet</servlet-name>
    <url-pattern>/handlerServlet</url-pattern>
  </servlet-mapping>

  
  <!-- encoding filter -->
  <filter>
  	<display-name>EncodingFilter</display-name>
  	<filter-name>EncodingFilter</filter-name>
  	<filter-class>cn.edu.nju.sj12.filters.EncodingFilter</filter-class>
  	<init-param>
  		<param-name>encoding</param-name>
  		<param-value>utf8</param-value>
  	</init-param>
  </filter>
  <filter-mapping>
  	<filter-name>EncodingFilter</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <!-- login filter -->
  <filter>
  	<display-name>LoginFilter</display-name>
  	<filter-name>LoginFilter</filter-name>
  	<filter-class>cn.edu.nju.sj12.filters.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>LoginFilter</filter-name>
  	<url-pattern>/target.jsp</url-pattern>
  </filter-mapping>
  
  <!-- counter listener -->
  <listener>
  	<listener-class>cn.edu.nju.sj12.listeners.CounterListener</listener-class>
  </listener>
  
</web-app>